:root{--max-width:600px;font-size:.75em}
*{box-sizing:border-box}
html,
body{height:100%}
a,
a:hover,
a:focus{color:inherit}
#app{position:relative;z-index:2;visibility:hidden;opacity:0;transition:linear .2s;width:100%;max-width:var(--max-width,600px);margin:auto;height:100%}
.app{width:100%;height:100%}
#app{background-color:white}
.only-top{border-top:1px solid transparent;margin-top:-1px}
.float-left{float:left;}
.float-right{float:right;}
.btn,
.btn:hover,
.btn:active,
.btn:focus,
.btn:active:focus,
.btn:active:hover{background-color:#fadc5e;border-color:#fadc5e;height:2.4rem;line-height:1.4rem;outline:none;border-radius:0;}
.form-control{border-radius:0;box-shadow:none;box-shadow:none}
input{-webkit-appearance:none}
.form-control:focus{border-color:#fadc5e;box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(250,220,94,.6)}

.slide-to{float:left;display:block;width:33.3333%;height:3rem;line-height:3rem;border-bottom:2px solid #e5e5e5;text-align:center;font-size:1rem;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.slide-to.on{border-bottom:2px solid #ff7800}
span.slide-to:focus{outline:none}
.swiper-slide{padding:0 1rem}
.table{width:100%;font-size:1rem;position:relative}
.table>tbody>tr{border-bottom: 1px solid #e5e5e5}
.table>tbody>tr:last-child{border-bottom: none}
.table>tbody>tr>td{border-top:none;vertical-align:middle;padding:4px}
.text-center{text-align:center}
.avatar{width:3.8rem;height:3.8rem;border-radius:50%;background-repeat:no-repeat;background-size:cover;background-position:50% 50%;}
.rank{display:inline-block;padding:0;background-color:#f70;color:#fff;border-radius:50%;text-align:center;width:1.6rem;height:1.6rem;line-height:1.6rem}
.rule{padding:1rem 0}
.rewardto-list{padding-top:.4rem;font-size:1rem;line-height:2.8rem}
.rewardto-list>li{list-style:none}
.rewardto-time{float:right}
.lighthigh{color:#f70}
.swiper-wrapper{box-sizing:border-box}
.fix{position:fixed;z-index:2}
.back-home{bottom:2rem;left:0;right:0;margin:auto;width:10rem;text-align:center;height:3rem;line-height:3rem;color:#fff;background-color:#49b44f;border-radius:3px}