<!-- <script src="//wechatfe.github.io/vconsole/lib/vconsole.min.js"></script><script>new VConsole;</script> -->
<script>var require = {urlArgs: 'v=2019021313'};</script>
<script src="{__PUBLIC__}/lib/require.min.js"></script>
<script>
    require.config({
        paths: {
            'jquery': '{__PUBLIC__}/lib/jquery/jquery.min',
            'vue': '{__PUBLIC__}/lib/vue/vue.min',
            'vue-resource': '{__PUBLIC__}/lib/vue/vue-resource.min',
            'app': '{__PUBLIC__}/lib/app/app.min',
            'wx': 'http://res.wx.qq.com/open/js/jweixin-1.4.0'
        },
        shim: {
            'app': {deps:['jquery','wx']}
        }
    });
    require(['app'], function (app) {
        app.init('{php echo web2app_url("w7", ["et"=>"sysinfo"])}');
    });
</script>