<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>wsys</title>
    {template 'base/header-config'}
    <link rel="stylesheet" href="{__PUBLIC__}/mobile/default/index.min.css?v=2019021301">
</head>

<body>
    <div id="app">
        <button id="btn">button</button>
    </div>
    <script src="{__PUBLIC__}/mobile/default/index.min.js?v=2019021301"></script>
</body>

</html>